#!/bin/sh
#
# Author:	kamikaze
# Contact:	kamikaze@bsdforen.de
#

# PROVIDE: automounter
# REQUIRE: rpcbind ypbind nfsclient cleanvar ldconfig
# BEFORE: mountlate
# KEYWORD: nojail shutdown

. /etc/rc.subr

: ${automounter_enable="No"}

name="automounter"
rcvar=`set_rcvar`

pidfile="%%RUN%%/automounter.amd.pid"
procname="%%AMD%%"
command="%%PREFIX%%/sbin/$name"
extra_commands="update"

automounter_precmd()
{
	if ! checkyesno nfs_client_enable; then
		force_depend nfsclient || return 1
	fi

	if ! checkyesno rpcbind_enable && \
		! /etc/rc.d/rpcbind forcestatus > /dev/null 2>&1
	then
		force_depend rpcbind || return 1
	fi
}

start_precmd="automounter_precmd"
start_cmd="$command start"
stop_cmd="$command stop"
update_cmd="$command update"

load_rc_config $name
run_rc_command "$1"

