#
# Dear bsdadminscripts user, beware for this example is a copy of my
# very own buildflags.conf and I'm of a rather experimental nature when it
# comes to building software. There are things done here that are definitely
# not supported or recommended.
#
# Also note that this file is shared over NFS and thus certain machine
# specific settings are left in the make.conf(5) file.
#
# If some of the variables used here don't make sense to you, search for them
# in the buildflags.mk(1), ports(7), make.conf(5) or in the file
# %%PORTS%%/Mk/bsd.port.mk.
#
# Apart from that, I hope the syntax is easy enough to understand with
# the help of the buildflags.conf(1) manual page.
#
# - Dominic Fandrey <kamikaze@bsdforen.de>
#

# --< global settings >--------------------------------------------------------
# java/jdk16
JAVA_PREFERRED_PORTS?=	JAVA_PORT_NATIVE_BSDJAVA_JDK_1_6
# java/diablo-jdk16
#JAVA_PREFERRED_PORTS?=	JAVA_PORT_NATIVE_FREEBSD_JDK_1_6
# -----------------------------------------------------------------------------

# ---< configure buildworld/buildkernel >--------------------------------------
/usr/src | /usr/src/*{
	USE_DISTCC
	USE_CCACHE
	THREADS=		3

	# Don't clean.
	NO_CLEAN
}
# -----------------------------------------------------------------------------

# ---< configure kamikaze >----------------------------------------------------
/home/kamikaze/*{
	.if defined(RELEASE) # Only optimize release builds.
		CFLAGS=		-O3 -pipe
	.else
		CFLAGS=		-g -Wall -pipe
	.endif
        BUILDFLAGS_GCC=         43
	#WITH_GCC
	USE_DISTCC
	USE_CCACHE
}
# -----------------------------------------------------------------------------

# ---< configure ports >-------------------------------------------------------
%%PORTS%%/*{
	# Clustering
	FORCE_MAKE_JOBS
	MAKE_JOBS_NUMBER=	3
	USE_DISTCC
	USE_CCACHE

	# Ports that define WITH_GCC should use this version.
	BUILDFLAGS_GCC=		43

	# Common settings that are applied to all ports in hope to do some good.
	WITHOUT_ARTS
	WITH_IPV6
	WITH_CPUFLAGS
	WITH_MOZILLA=		firefox3
	WITH_GECKO=		xulrunner
	PYTHON_VERSION=		2.6
	PYTHON_DEFAULT_VERSION=	2.6
	OVERRIDE_LINUX_BASE_PORT=f8
	APACHE_PORT=		22
	FETCH_ARGS=		-ApRrF
	# Prefer German mirrors.
	MASTER_SORT_REGEX=	://([^/]*\.de[\./]|de\.)

	# Keep interactive ports from annoying me without turning the
	# config dialogues off.
	.if ! target(config*)
	BATCH
	.endif

	# Do not build these.
	#*/editors/openoffice.org*{IGNORE}

	# No distcc or threading.
	*/archivers/p7zip	{!FORCE_MAKE_JOBS}
	*/audio/cdparanoia	{!FORCE_MAKE_JOBS}
	*/audio/libsndfile	{!FORCE_MAKE_JOBS}
	*/audio/nas		{!FORCE_MAKE_JOBS}
	*/converters/libiconv	{!FORCE_MAKE_JOBS}
	*/devel/autoconf261	{!FORCE_MAKE_JOBS}
	*/devel/boost-python	{!USE_CCACHE !USE_DISTCC}
	*/devel/doxygen		{!FORCE_MAKE_JOBS}
	*/devel/gperf		{!FORCE_MAKE_JOBS}
	*/devel/libthai		{!FORCE_MAKE_JOBS}
	*/devel/nasm		{!FORCE_MAKE_JOBS}
	*/devel/ncurses		{!FORCE_MAKE_JOBS}
	*/devel/ORBit2		{!FORCE_MAKE_JOBS}
	*/devel/physfs		{!USE_CCACHE !USE_DISTCC}
	*/devel/pth		{!FORCE_MAKE_JOBS}
	*/dns/libidn		{!FORCE_MAKE_JOBS}
	*/editors/vim		{!FORCE_MAKE_JOBS !USE_CCACHE}
	*/games/ultimatestunts	{!FORCE_MAKE_JOBS}
	*/graphics/libafterimage{!FORCE_MAKE_JOBS}
	*/graphics/libart_lgpl	{!FORCE_MAKE_JOBS}
	*/lang/ruby18		{!FORCE_MAKE_JOBS}
	*/multimedia/ffmpeg	{!USE_CCACHE !USE_DISTCC}
	*/multimedia/gpac-libgpac	{!USE_DISTCC}
	*/multimedia/mplayer	{!FORCE_MAKE_JOBS}
	*/multimedia/mencoder	{!FORCE_MAKE_JOBS}
	*/print/ghostscript*	{!FORCE_MAKE_JOBS}
	*/print/scribus		{!USE_CCACHE !USE_DISTCC}
	*/print/xdvik		{!USE_CCACHE !USE_DISTCC}
	*/security/libgpg-error	{!FORCE_MAKE_JOBS}
	*/security/nss		{!FORCE_MAKE_JOBS}
	*/science/hdf5		{!FORCE_MAKE_JOBS}

	# Other build flags.
	*/audio/linux-alsa-lib	{USE_LINUX=yes !OVERRIDE_LINUX_BASE_PORT}

	*/devel/freetype2	{WITH_LCD_FILTERING}

	*/devel/subversion	{WITHOUT_BDB}

	*/editors/openoffice.org*{
		!USE_DISTCC
		!USE_CCACHE
		WITH_CCACHE
		MAXPROCESSES=		3
		#MAXMODULES=		3
		LOCALIZED_LANG=		en-GB
		#LOCALIZED_LANG=		de
		WITH_KDE
		WITHOUT_MOZILLA
	}

	*/emulators/qemu	{WITH_KQEMU}

	*/games/gtkradiant	{WITHOUT_BDB}

	*/java/eclipse		{!WITH_MOZILLA}

	*/java/jdk*		{!FORCE_MAKE_JOBS HOTSPOT_BUILD_JOBS=4}

	*/mail/thunderbird-dictionaries	{!BATCH}

	*/mail/thunderbird-i18n{
		WITHOUT_SWITCHER
		THUNDERBIRD_I18N=	en-GB
	}

	*/multimedia/vlc{
		WITH_FAAD
		WITH_REALAUDIO
		WITH_SDL
		WITH_X264
		WITH_THEORA
		#WITH_WIN32_CODECS
		WITH_DVDREAD
	}

	*/print/freetype2	{WITH_LCD_FILTERING}

	*/www/firefox*-i18n{
		WITHOUT_SWITCHER
		FIREFOX_I18N=	en-GB
	}

	*/www/mozilla		{DISABLE_VULNERABILITIES}

	*/x11-toolkits/gtk20	{WITHOUT_DEBUG}
}
# -----------------------------------------------------------------------------
