#
# This file lists some examples for environmental settings to influence
# pkg_upgrade.
# Uncomment to use.
#

#
# Collect pkg-message data in your home directory.
#
#COLLECT_MESSAGES=~/pkg-messages

#
# Collect a list of missing files that should have been installed by
# packages.
#
#COLLECT_MISSING=~/pkg-missing

