#
# This file lists some examples for environmental settings to influence UMA.
# Uncomment to use.
#

#
# Fast FTP time outs.
#
#FTP_TIMEOUT=10

#
# Use release packages on STABLE and CURRENT systems.
#
#BRANCH=7.2-release

#
# Use German mirrors.
#
#PACKAGEROOT_MIRRORS="http://ftp.de.FreeBSD.org;http://ftp2.de.FreeBSD.org;http://ftp3.de.FreeBSD.org;http://ftp4.de.FreeBSD.org;http://ftp5.de.FreeBSD.org;http://ftp6.de.FreeBSD.org;http://ftp7.de.FreeBSD.org;http://ftp8.de.FreeBSD.org"
