#!/bin/sh
#
# Author:	kamikaze
# Contact:	kamikaze@bsdforen.de
#

# PROVIDE: automounter
# REQUIRE: rpcbind ypset nfsclient FILESYSTEMS ldconfig
# BEFORE: mountlate
# KEYWORD: nojail shutdown

. /etc/rc.subr

: ${automounter_enable="No"}

name="automounter"
rcvar=`set_rcvar`

pidfile="%%RUN%%/automounter.amd.pid"
procname="%%AMD:1%%"
command="%%PREFIX%%/sbin/$name"
extra_commands="update"

automounter_precmd()
{
	force_depend nfsclient nfs_client || return 1
	force_depend rpcbind || return 1
}

start_precmd="automounter_precmd"
start_cmd="$command start fork"
stop_cmd="$command stop"
update_cmd="$command update"

load_rc_config $name
run_rc_command "$1"

